<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="" autoReload="true" internalLogFile="logs/internal.log" internalLogLevel="Trace">
    <targets>
        <target xsi:type="ColoredConsole" name="LittleBigBot-Console" layout="[${longdate}] [${logger}/${level}] ${message} ${exception} ${all-event-properties}">
            <!-- Rider's output window has colour issues, might want to change this! -->
            <highlight-row foregroundColor="Black" condition="level == LogLevel.Info" />
            <highlight-row foregroundColor="Red" condition="level == LogLevel.Error or level == LogLevel.Fatal" />
            <highlight-row foregroundColor="Magenta" condition="level == LogLevel.Warn" />
            <highlight-row foregroundColor="Green" condition="level == LogLevel.Debug or level == LogLevel.Trace" />
        </target>
        <target xsi:type="File" name="LittleBigBot-File" layout="[${longdate}] [${logger}/${level}] ${message} ${exception} ${all-event-properties}" fileName="${basedir}/logs/littlebigbot.log" encoding="utf-8" />
        <target xsi:type="File" name="LittleBigBot-Commands-Tracking" layout="[${longdate}] [${logger}/${level}] ${message} ${exception} ${all-event-properties}" fileName="${basedir}/logs/commands_tracking.log" encoding="utf-8" />
    </targets>
    <rules>
        <logger name="CommandsTracking" writeTo="LittleBigBot-Commands-Tracking" minlevel="Debug" />
        <logger name="*" writeTo="LittleBigBot-Console,LittleBigBot-File" minlevel="Debug" />
    </rules>
</nlog>